:root {
    --main-bg-color: #f0f0f0;
    --border-color: #999;
    --text-color: #444;
    --header-color: #2c3e50;
    --section-title-color: #3498db;
    --section-border-color: #bdc3c7;
    --skill-bg-color: #ecf0f1;
    --bg: #fff;
    --project-bg: #eaeaea; /* New variable for project background */
}

.theme-resume {
    width: 210mm;
    height: 297mm;
    max-width: 100%;
    margin: auto;
    padding: 20mm;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    border: 1px solid var(--border-color);
}

.theme-header {
    text-align: center;
    margin-bottom: 20px;
}

.theme-header-title {
    margin: 0;
    font-size: 16px;
    color: var(--header-color);
}

.theme-header-subtitle {
    font-size: 12px;
    color: var(--header-color);
}

.theme-section {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    border: 1px solid var(--section-border-color);
    border-radius: 5px;
}

.theme-section-title {
    margin: 0 0 15px;
    font-size: 16px;
    color: var(--section-title-color);
}

.theme-job, .theme-school, .theme-project {
    margin-bottom: 15px;
}

.theme-job-title, .theme-school-title, .theme-project-title {
    margin: 0;
    font-size: 16px;
    color: var(--text-color);
}

.theme-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.theme-grid-container > *:nth-child(3n-2),
.theme-grid-container > *:nth-child(3n-1),
.theme-grid-container > *:nth-child(3n) {
    grid-column: span 2;
}

.theme-skills-list, .theme-certifications-list {
    list-style-type: none;
    padding: 0;
}

.theme-skill-item, .theme-certification-item {
    background-color: var(--skill-bg-color);
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 12px;
    color: var(--text-color);
}

.theme-projects .theme-project {
    display: flex;
    flex-wrap: wrap;
}

.theme-project {
    flex: 1 1 calc(33% - 10px);
    margin: 0 5px 10px;
    padding: 20px;
    border: 1px solid var(--section-border-color);
    border-radius: 5px;
    background-color: var(--project-bg); /* Changed to use variable */
}
